VITE_API_URL=http://localhost:7860/api
VITE_SOCKET_URL=http://localhost:7860
VITE_OPENWEATHERMAP_KEY=your_openweathermap_api_key_here
VITE_INARISK_WMS_URL=https://inarisk1.bnpb.go.id:8443/geoserver/raster/wms